@import "../variables";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 40px;

  @media (min-width: $desktop) {
    flex-direction: initial;
  }

  &-item {
    font-weight: 500;
  }
}
