:root {
  --black: #000;
  --color-bg: #FFFBED;
  --color-main: #372E11;
  --color-grey: #9B9B99;
  --color-grey-light: #EDEDED;
  --color-yellow: #FFE182;
  --color-yellow-light: #FFF8E1;
  --color-placeholder: #8E825C;
  --color-form-text: #8E825C;
}

$md: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-wide: 1600px;
